#tnombre {
  color: darkmagenta;
}
#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: black;
  padding: 50px;
  border-width: 2px 1px 3px 4px;
  border-style: solid dotted double groove;
  border-color: red blue green orange;
}
#spanId {
  font-size: 18px;
  margin: 50px;
}
